.currentGame {
  background-image: url(/assets/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-color: #f3eae3;
  border-right: 15px solid #92c0af;
  border-left: 15px solid #92c0af;
}

.currentGameContent {
  padding: 50px 20px;
  h2 {
    text-align: center;
    padding: 20px 0;
    font-weight: lighter;
    font-size: clamp(2.5rem, 2vw, 3.5rem);
  }
  p {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-weight: 800;
    font-size: clamp(2.5rem, 2vw, 3.5rem);
  }
  legend {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 35px 0;
  }
  .answers {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-bottom: 20px;
  }
  .q1 {
    display: flex;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
    input {
      position: absolute;
      width: 90%;
      height: 90%;
      opacity: 0;
      cursor: pointer;
    }
    label {
      text-align: center;
      color: #f3eae3;
      background-color: #577f90;
      border: 3px solid #f3eae3;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
    }
    .correct {
      background-color: #92c0af;
    }
    .incorrect {
      background-color: #f0917a;
    }
  }
  .q2 {
    display: flex;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
    input {
      position: absolute;
      width: 90%;
      height: 90%;
      opacity: 0;
      cursor: pointer;
    }
    label {
      text-align: center;
      color: #f3eae3;
      background-color: #577f90;
      border: 3px solid #f3eae3;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
    }
    .correct {
      background-color: #92c0af;
    }
    .incorrect {
      background-color: #f0917a;
    }
  }
  .q3 {
    display: flex;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
    input {
      position: absolute;
      width: 90%;
      height: 90%;
      opacity: 0;
      cursor: pointer;
    }
    label {
      text-align: center;
      color: #f3eae3;
      background-color: #577f90;
      border: 3px solid #f3eae3;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
    }
    .correct {
      background-color: #92c0af;
    }
    .incorrect {
      background-color: #f0917a;
    }
  }
  .q4 {
    display: flex;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
    input {
      position: absolute;
      width: 90%;
      height: 90%;
      opacity: 0;
      cursor: pointer;
    }
    label {
      text-align: center;
      color: #f3eae3;
      background-color: #577f90;
      border: 3px solid #f3eae3;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
    }
    .correct {
      background-color: #92c0af;
    }
    .incorrect {
      background-color: #f0917a;
    }
  }
  .gameButton {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      margin: 30px 0;
      color: #f3eae3;
      background-color: #f0917a;
      border: 2px solid #f0917a;
      padding: 15px 25px;
      border-radius: 50px;
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
    }
    button:hover,
    button:focus {
      color: #f0917a;
      background-color: #f3eae3;
    }
  }
  .gameEnd{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a {
      color: #f3eae3;
      background-color: #f0917a;
      border: 2px solid #f0917a;
      padding: 15px 25px;
      border-radius: 50px;
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
    }
    a:hover,
    a:focus {
      color: #f0917a;
      background-color: #f3eae3;
    }
  }
}

// change the hover and focus effects so that it is distinctly different than those of button/links need to have veriation
// fix flex on answer inputs should be a bit more predictable what will happen
