.home{
    padding-top: 70px;
    .flexHome{
        display: flex;
    }   
    .homeLeft{
        flex-basis: 55%;
        padding-right: 5%;
        h1{
            font-weight: lighter;
            text-align: center;
            font-size: clamp(4rem, 2vw, 6rem);
            line-height: clamp(4.8rem, 2vw, 7rem);
            margin-bottom: 60px;
            span{
                display: block;
                font-size: clamp(3rem, 2vw, 5rem);
                color: #86C2AE;
            }
        }
        a{
            color: #f3eae3;
            background-color: #F0917A;
            border: 2px solid #F0917A;
            padding: 15px 25px;
            border-radius: 50px;
            transition: background-color 0.3s ease, color 0.3s ease;
            cursor: pointer;
        }
        a:hover,
        a:focus{
        color: #F0917A;
        background-color:#f3eae3;
        }
    }
    .homeRight{
        flex-basis: 40%;
        position: relative;
        top: -170px;
        h2{
            font-size: clamp(0.8rem, 2vw, 1rem);
            padding-bottom: 10px;
            text-align: center;
        }
        .saved{
            height: 620px;
            overflow-y: scroll;
            text-align: center;
            .savedTitle{
                font-weight: bold;
                text-transform: uppercase;
            }
        }

    }

}

.hidden{
    display: none;
}