@media (max-width: 1281px) {
  .home {
    .homeLeft {
      h1 {
        margin-bottom: 40px;
        padding-top: 70px;
      }
    }
  }
}

@media (max-width: 1150px) {
  .error {
    h2 {
      padding-top: 100px;
    }
  }
  .home {
    .homeRight {
      .saved {
        height: calc( 100vh - 130px);
      }
    }
  }
}

@media (max-width: 950px) {
  .home {
    .homeLeft {
      h1 {
        font-size: clamp(3rem, 2vw, 5rem);
        line-height: clamp(3rem, 2vw, 5rem);
        margin-bottom: 40px;
        padding-top: 70px;
      }
    }
    .home {
      .homeRight {
        width: 35%;
        .saved {
          height: calc( 100vh - 140px);
        }
      }
    }
  }
  .form {
    .circle {
      border-radius: 25px;
      width: 70%;
      padding: 50px;

      h2 {
        font-size: clamp(2rem, 2vw, 3.5rem);
        padding-bottom: 30px;
        width: 80%;
      }

      .categorySelect,
      .numberSelect {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }

      #category,
      #numbers {
        width: 200px;
      }
    }
  }
}

@media (max-width: 730px) {
  .home {
    height: auto;
    .flexHome {
      flex-wrap: wrap;
    }
    .homeLeft {
      flex-basis: 100%;
      margin-bottom: 70px;
      h1 {
        margin: 100px 0;
        line-height: clamp(4.3rem, 2vw, 6.3rem);
      }
    }
    .homeRight {
      flex-basis: 100%;
      top: 0px;
      .saved {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            flex-basis: 30%;
          }
        }
      }
    }
  }
  .currentGame {
    .answers {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .error {
    h2 {
      font-size: clamp(4rem, 2vw, 6rem);
      padding-top: 100px;
    }
  }
}

@media (max-width: 650px) {
  .form {
    .circle {
      border-radius: 25px;

      h2 {
        font-size: clamp(1.5rem, 2vw, 3.5rem);
        padding-bottom: 30px;
      }
    }
  }
}

@media (max-width: 550px) {
  nav {
    .logo {
      top: 15px;
      figure {
        flex-basis: 10%;
        padding-top: 10px;
      }
    }
  }
  .home {
    .homeLeft {
      h1 {
        margin: 100px 0 80px 0;
        line-height: clamp(3rem, 2vw, 5rem);
      }
    }
  }
}

@media (max-width: 500px) {
  .form {
    .circle {
      padding: none;

      h2 {
        width: 95%;
      }

      label {
        font-size: clamp(0.7rem, 2vw, 4rem);
      }

      #category,
      #numbers {
        width: 200px;
      }

      label {
        font-size: clamp(0.8rem, 2vw, 3.5rem);
      }
    }
  }
}

@media (max-width: 470px) {
  .home {
    .homeLeft {
      flex-basis: 80%;
      h1 {
        margin: 100px 0 80px 0;
        font-size: clamp(2.5rem, 2vw, 4.5rem);
        line-height: clamp(3rem, 2vw, 5rem);
      }
    }
    .homeRight {
      .saved {
        ul {
          li {
            flex-basis: 49%;
          }
        }
      }
    }
  }
  .error {
    h2 {
      font-size: clamp(3rem, 2vw, 5rem);
    }
  }
}

@media (max-width: 400px) {
  .form {
    .circle {
      width: 80%;

      h2 {
        font-size: clamp(1rem, 2vw, 3.5rem);
        padding-bottom: 30px;
      }
    }
  }
}

@media (max-width: 380px) {
  .home {
    .homeLeft {
      h1 {
        font-size: clamp(2rem, 2vw, 4rem);
      }
    }
    .homeRight {
      .saved {
        ul {
          li {
            flex-basis: 40%;
          }
        }
      }
    }
  }
  .gameResult {
    h2 {
      font-size: clamp(3rem, 2vw, 4rem);
      padding-bottom: 120px;
    }
    .homeLink {
      margin-right: 5px;
    }
    a {
      padding: 10px 15px;
    }
  }
}
